@import 'media';

.board {
  display: inline-grid;
  grid-gap: 1vmin;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 70vmin;
  margin: 0 auto;
  padding: 0;
  width: 70vmin;
}
