@import 'media';
@import 'palette';

$cell-border-width: 0.5em;
$cell-border-radius: 25%;

.cell {
  animation-name: cell-intro-animation;
  animation-duration: 0.33s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  background-color: $cell-background-color;
  border: $cell-border-width solid #333;
  border-radius: $cell-border-radius;
  color: transparent;
  float: left;
  font-family: 'Permanent Marker', cursive;
  margin: 0;
  opacity: 0;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  @include CellTextShadow(transparent);

  &:focus {
    outline: none;
  }
}

.cell-text {
  display: inline-block;
  font-size: 20vmin;
  height: 100%;
  line-height: 100%;
  opacity: 0;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}

@keyframes cell-intro-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes text-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cell-occupied {
  .cell-text {
    animation-name: text-animation;
    animation-duration: 0.33s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
  }
}

@mixin Child($position, $color) {
  &:nth-of-type(#{$position}) {
    @content;
  }
}

@mixin GridColumn($start, $span: 1) {
  grid-column: #{$start} / #{$start + $span};
  //  IE treats gaps as columns
  -ms-grid-column: #{$start + ($start - 1)};
  -ms-grid-column-span: $span;
}

@mixin GridRow($start, $span: 1) {
  grid-row: #{$start} / #{$start + $span};
  -ms-grid-row: #{$start + ($start - 1)};
  -ms-grid-row-span: $span;
}

@mixin CellBorder($position, $color) {
  @include Child($position, $color) {
    $x: 1 + (($position - 1) % 3);
    @include GridColumn($x);

    $y: floor(1 + (($position - 1) / 3));
    @include GridRow($y);

    border-color: $color;
    color: $color;
    transition: all 1.5s ease;
    @include CellTextShadow($color);

    &:hover {
      background-color: lighten($color, 25%);
      border-color: darken($color, 25%);
    }
  }
}

.cell {
  @include CellBorder(1, $color-1);
  @include CellBorder(2, $color-2);
  @include CellBorder(3, $color-3);
  @include CellBorder(4, $color-4);
  @include CellBorder(5, $color-5);
  @include CellBorder(6, $color-1);
  @include CellBorder(7, $color-2);
  @include CellBorder(8, $color-3);
  @include CellBorder(9, $color-4);
}
