@import 'cell';
@import 'palette';

.player-select {
  left: 50%;
  margin: 0;
  padding: 0;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  button {
    align-items: center;
    background-color: transparent;
    border: 1vmin solid #333;
    border-radius: 50%;
    // font-size: 15vmin;
    height: 20vmin;
    line-height: 20vmin;
    margin: 3vmin;
    padding: 0;
    text-align: center;
    width: 20vmin;
    @include CellBorder(1, $color-1);
    @include CellBorder(2, $color-5);

    span {
      font-family: 'Permanent Marker', cursive;
      font-size: 15vmin;
      height: 15vmin;
      line-height: 16vmin;
      margin: 0;
      padding: 0;
    }
  }

  h2 {
    font-size: 7vmin;
    margin: 0 0 3vmin 0;
    padding: 0;
    @include ColorText($player-select-color);
  }
}
