@import 'palette';

.reset-button {
  background-color: transparent;
  border: none;
  font-size: 4vmin;
  font-family: 'Sniglet', cursive;
  margin: 0;
  padding: 0;
  transition: color 1s ease;
  @include ColorText($color-1);

  &:hover {
    @include ColorText(lighten($color-1, 25%));
  }
}
