$square-size: 3em;
$square-border-width: 0.0125em;

.square {
  border: $square-border-width solid black;
  float: left;
  font-weight: bold;
  height: $square-size;
  line-height: $square-size;
  margin-right: -$square-border-width;
  margin-top: -$square-border-width;
  padding: 0;
  text-align: center;
  width: $square-size;
}
